qpe-base/qpn.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:xsp="http://apache.org/xsp/core/v1"
  xmlns:s="http://www.ascc.net/xml/schematron"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns:f="http://axkit.org/NS/xsp/perform/v1"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="net">
      <element name="colors">
        <zeroOrMore>
          <element name="color">
            <attribute name="id">
              <text/>
            </attribute>
            <attribute name="name">
              <text/>
            </attribute>
            <attribute name="real-color">
              <text/>
            </attribute>
            <attribute name="description">
              <text/>
            </attribute>
          </element>
        </zeroOrMore>
      </element>
      <element name="places">
        <zeroOrMore>
          <element name="place">
            <attribute name="id">
              <text/>
            </attribute>
            <attribute name="name">
              <text/>
            </attribute>
            <attribute name="departure-discipline">
              <choice>
                <value>NORMAL</value>
                <value>FIFO</value>
              </choice>
            </attribute>
            <choice>
              <group>
                <attribute name="type">
                  <value>ordinary-place</value>
                </attribute>
                <element name="color-refs">
                  <oneOrMore>
                    <element name="color-ref">
                      <attribute name="id">
                        <text/>
                      </attribute>
                      <attribute name="color-id">
                        <text/>
                      </attribute>
                      <attribute name="initial-population">
                        <data type="integer"/>
                      </attribute>
                      <attribute name="maximum-capacity">
                        <data type="integer"/>
                      </attribute>
                      <optional>
                        <element name="meta-attributes">
                          <oneOrMore>
                            <choice>
                              <element name="meta-attribute">
                                <attribute name="name">
                                  <value>sim-qpn</value>
                                </attribute>
                                <attribute name="configutation-name">
                                  <text/>
                                </attribute>
                                <attribute name="signLev">
                                  <data type="double"/>
                                </attribute>
                                <attribute name="reqAbsPrc">
                                  <data type="double"/>
                                </attribute>
                                <attribute name="reqRelPrc">
                                  <data type="double"/>
                                </attribute>
                                <attribute name="batchSize">
                                  <data type="integer"/>
                                </attribute>
                                <attribute name="minBatches">
                                  <data type="integer"/>
                                </attribute>
                                <attribute name="numBMeansCorlTested">
                                  <data type="integer"/>
                                </attribute>
                              </element>
                              <element name="meta-attribute">
                                <attribute name="name">
                                  <value>sim-qpn</value>
                                </attribute>
                                <attribute name="configutation-name">
                                  <text/>
                                </attribute>
                                <attribute name="minObsrv">
                                  <data type="integer"/>
                                </attribute>
                                <attribute name="maxObsrv">
                                  <data type="integer"/>
                                </attribute>
                              </element>
                            </choice>
                          </oneOrMore>
                        </element>
                      </optional>
                    </element>
                  </oneOrMore>
                </element>
              </group>
              <group>
                <attribute name="type">
                  <value>queueing-place</value>
                </attribute>
                <element name="color-refs">
                  <oneOrMore>
                    <element name="color-ref">
                      <attribute name="id">
                        <text/>
                      </attribute>
                      <attribute name="color-id">
                        <text/>
                      </attribute>
                      <attribute name="initial-population">
                        <data type="integer"/>
                      </attribute>
                      <attribute name="maximum-capacity">
                        <data type="integer"/>
                      </attribute>
                      <attribute name="ranking">
                        <data type="integer"/>
                      </attribute>
                      <attribute name="priority">
                        <data type="integer"/>
                      </attribute>
                      <attribute name="mean-service-time">
                        <data type="double"/>
                      </attribute>
                      <choice>
                        <group>
                          <attribute name="distribution-function">
                            <value>Beta</value>
                          </attribute>
                          <attribute name="alpha">
                            <data type="double"/>
                          </attribute>
                          <attribute name="beta">
                            <data type="double"/>
                          </attribute>
                        </group>
                        <group>
                          <attribute name="distribution-function">
                            <value>BreitWigner</value>
                          </attribute>
                          <attribute name="mean">
                            <data type="double"/>
                          </attribute>
                          <attribute name="gamma">
                            <data type="double"/>
                          </attribute>
                          <attribute name="cut">
                            <data type="double"/>
                          </attribute>
                        </group>
                        <group>
                          <attribute name="distribution-function">
                            <value>BreitWignerMeanSquare</value>
                          </attribute>
                          <attribute name="mean">
                            <data type="double"/>
                          </attribute>
                          <attribute name="gamma">
                            <data type="double"/>
                          </attribute>
                          <attribute name="cut">
                            <data type="double"/>
                          </attribute>
                        </group>
                        <group>
                          <attribute name="distribution-function">
                            <value>ChiSquare</value>
                          </attribute>
                          <attribute name="freedom">
                            <data type="double"/>
                          </attribute>
                        </group>
                        <group>
                          <attribute name="distribution-function">
                            <value>Gamma</value>
                          </attribute>
                          <attribute name="alpha">
                            <data type="double"/>
                          </attribute>
                          <attribute name="lambda">
                            <data type="double"/>
                          </attribute>
                        </group>
                        <group>
                          <attribute name="distribution-function">
                            <value>Hyperbolic</value>
                          </attribute>
                          <attribute name="alpha">
                            <data type="double"/>
                          </attribute>
                          <attribute name="beta">
                            <data type="double"/>
                          </attribute>
                        </group>
                        <group>
                          <attribute name="distribution-function">
                            <value>Exponential</value>
                          </attribute>
                          <attribute name="lambda">
                            <data type="double"/>
                          </attribute>
                        </group>
                        <group>
                          <attribute name="distribution-function">
                            <value>ExponentialPower</value>
                          </attribute>
                          <attribute name="tau">
                            <data type="double"/>
                          </attribute>
                        </group>
                        <group>
                          <attribute name="distribution-function">
                            <value>Logarithmic</value>
                          </attribute>
                          <attribute name="p">
                            <data type="double"/>
                          </attribute>
                        </group>
                        <group>
                          <attribute name="distribution-function">
                            <value>Normal</value>
                          </attribute>
                          <attribute name="mean">
                            <data type="double"/>
                          </attribute>
                          <attribute name="stdDev">
                            <data type="double"/>
                          </attribute>
                        </group>
                        <group>
                          <attribute name="distribution-function">
                            <value>StudentT</value>
                          </attribute>
                          <attribute name="freedom">
                            <data type="double"/>
                          </attribute>
                        </group>
                        <group>
                          <attribute name="distribution-function">
                            <value>Uniform</value>
                          </attribute>
                          <attribute name="min">
                            <data type="double"/>
                          </attribute>
                          <attribute name="max">
                            <data type="double"/>
                          </attribute>
                        </group>
                        <group>
                          <attribute name="distribution-function">
                            <value>VonMises</value>
                          </attribute>
                          <attribute name="freedom">
                            <data type="double"/>
                          </attribute>
                        </group>
                        <group>
                          <attribute name="distribution-function">
                            <value>Empirical</value>
                          </attribute>
                          <attribute name="pdf_filename">
                            <text/>
                          </attribute>
                        </group>
                        <group>
                          <attribute name="distribution-function">
                            <value>Deterministic</value>
                          </attribute>
                          <attribute name="p1">
                            <data type="double"/>
                          </attribute>
                          <attribute name="p2">
                            <data type="double"/>
                          </attribute>
                          <attribute name="p3">
                            <data type="double"/>
                          </attribute>
                        </group>
                      </choice>
                      <optional>
                        <element name="meta-attributes">
                          <oneOrMore>
                            <choice>
                              <element name="meta-attribute">
                                <attribute name="name">
                                  <value>sim-qpn</value>
                                </attribute>
                                <attribute name="configutation-name">
                                  <text/>
                                </attribute>
                                <attribute name="signLev">
                                  <data type="double"/>
                                </attribute>
                                <attribute name="reqAbsPrc">
                                  <data type="double"/>
                                </attribute>
                                <attribute name="reqRelPrc">
                                  <data type="double"/>
                                </attribute>
                                <attribute name="batchSize">
                                  <data type="integer"/>
                                </attribute>
                                <attribute name="minBatches">
                                  <data type="integer"/>
                                </attribute>
                                <attribute name="numBMeansCorlTested">
                                  <data type="integer"/>
                                </attribute>
                              </element>
                              <element name="meta-attribute">
                                <attribute name="name">
                                  <value>sim-qpn</value>
                                </attribute>
                                <attribute name="configutation-name">
                                  <text/>
                                </attribute>
                                <attribute name="minObsrv">
                                  <data type="integer"/>
                                </attribute>
                                <attribute name="maxObsrv">
                                  <data type="integer"/>
                                </attribute>
                              </element>
                            </choice>
                          </oneOrMore>
                        </element>
                      </optional>
                    </element>
                  </oneOrMore>
                </element>
              </group>
              <group>
                <attribute name="type">
                  <value>subnet-place</value>
                </attribute>
                <element name="color-refs">
                  <oneOrMore>
                    <element name="color-ref">
                      <attribute name="id">
                        <text/>
                      </attribute>
                      <attribute name="color-id">
                        <text/>
                      </attribute>
                      <attribute name="initial-population">
                        <data type="integer"/>
                      </attribute>
                      <attribute name="maximum-capacity">
                        <data type="integer"/>
                      </attribute>
                      <optional>
                        <element name="meta-attributes">
                          <oneOrMore>
                            <choice>
                              <element name="meta-attribute">
                                <attribute name="name">
                                  <value>sim-qpn</value>
                                </attribute>
                                <attribute name="configutation-name">
                                  <text/>
                                </attribute>
                                <attribute name="signLev">
                                  <data type="double"/>
                                </attribute>
                                <attribute name="reqAbsPrc">
                                  <data type="double"/>
                                </attribute>
                                <attribute name="reqRelPrc">
                                  <data type="double"/>
                                </attribute>
                                <attribute name="batchSize">
                                  <data type="integer"/>
                                </attribute>
                                <attribute name="minBatches">
                                  <data type="integer"/>
                                </attribute>
                                <attribute name="numBMeansCorlTested">
                                  <data type="integer"/>
                                </attribute>
                              </element>
                              <element name="meta-attribute">
                                <attribute name="name">
                                  <value>sim-qpn</value>
                                </attribute>
                                <attribute name="configutation-name">
                                  <text/>
                                </attribute>
                                <attribute name="minObsrv">
                                  <data type="integer"/>
                                </attribute>
                                <attribute name="maxObsrv">
                                  <data type="integer"/>
                                </attribute>
                              </element>
                            </choice>
                          </oneOrMore>
                        </element>
                      </optional>
                    </element>
                  </oneOrMore>
                </element>
              </group>
            </choice>
            <optional>
              <element name="meta-attributes">
                <oneOrMore>
                  <choice>
                    <element name="meta-attribute">
                      <attribute name="name">
                        <value>sim-qpn</value>
                      </attribute>
                      <attribute name="configutation-name">
                        <text/>
                      </attribute>
                      <attribute name="statsLevel">
                        <data type="integer"/>
                      </attribute>
                    </element>
                  </choice>
                </oneOrMore>
              </element>
            </optional>
          </element>
        </zeroOrMore>
      </element>
      <element name="transitions">
        <zeroOrMore>
          <element name="transition">
            <attribute name="id">
              <text/>
            </attribute>
            <attribute name="name">
              <text/>
            </attribute>
            <attribute name="priority">
              <data type="integer"/>
            </attribute>
            <choice>
              <group>
                <attribute name="type">
                  <value>immediate-transition</value>
                </attribute>
                <attribute name="firing-weight">
                  <data type="double"/>
                </attribute>
                <element name="modes">
                  <oneOrMore>
                    <element name="mode">
                      <attribute name="id">
                        <text/>
                      </attribute>
                      <attribute name="name">
                        <text/>
                      </attribute>
                      <attribute name="real-color">
                        <text/>
                      </attribute>
                      <attribute name="firing-weight">
                        <data type="double"/>
                      </attribute>
                      <optional>
                        <element name="meta-attributes">
                          <zeroOrMore>
                            <element name="meta-attribute">
                              <attribute name="name">
                                <text/>
                              </attribute>
                            </element>
                          </zeroOrMore>
                        </element>
                      </optional>
                    </element>
                  </oneOrMore>
                </element>
              </group>
              <group>
                <attribute name="type">
                  <value>timed-transition</value>
                </attribute>
                <element name="modes">
                  <oneOrMore>
                    <element name="mode">
                      <attribute name="id">
                        <text/>
                      </attribute>
                      <attribute name="name">
                        <text/>
                      </attribute>
                      <attribute name="real-color">
                        <text/>
                      </attribute>
                      <attribute name="mean-firing-delay">
                        <data type="double"/>
                      </attribute>
                      <optional>
                        <element name="meta-attributes">
                          <zeroOrMore>
                            <element name="meta-attribute">
                              <attribute name="name">
                                <text/>
                              </attribute>
                            </element>
                          </zeroOrMore>
                        </element>
                      </optional>
                    </element>
                  </oneOrMore>
                </element>
              </group>
            </choice>
            <element name="connections">
              <zeroOrMore>
                <element name="connection">
                  <attribute name="id">
                    <text/>
                  </attribute>
                  <attribute name="source-id">
                    <text/>
                  </attribute>
                  <attribute name="target-id">
                    <text/>
                  </attribute>
                  <attribute name="weight">
                      <data type="integer"></data>
                  </attribute>
                </element>
              </zeroOrMore>
            </element>
            <optional>
              <element name="meta-attributes">
                <zeroOrMore>
                  <element name="meta-attribute">
                    <attribute name="name">
                      <text/>
                    </attribute>
                  </element>
                </zeroOrMore>
              </element>
            </optional>
          </element>
        </zeroOrMore>
      </element>
      <element name="connections">
        <zeroOrMore>
          <element name="connection">
            <attribute name="id">
              <text/>
            </attribute>
            <attribute name="source-id">
              <text/>
            </attribute>
            <attribute name="target-id">
              <text/>
            </attribute>
          </element>
        </zeroOrMore>
      </element>
      <optional>
        <element name="meta-attributes">
          <zeroOrMore>
            <choice>
              <element name="meta-attribute">
                <attribute name="name">
                  <value>sim-qpn</value>
                </attribute>
                <attribute name="scenario">
                  <value>1</value>
                </attribute>
                <attribute name="ramp-up-length">
                  <data type="double"/>
                </attribute>
                <attribute name="total-run-length">
                  <data type="double"/>
                </attribute>
                <choice>
                  <group>
                    <attribute name="stopping-rule">
                      <value>ABSPRC</value>
                    </attribute>
                    <attribute name="time-between-stop-checks">
                      <data type="integer"/>
                    </attribute>
                  </group>
                  <group>
                    <attribute name="stopping-rule">
                      <value>RELPRC</value>
                    </attribute>
                    <attribute name="time-between-stop-checks">
                      <data type="integer"/>
                    </attribute>
                  </group>
                  <attribute name="stopping-rule">
                    <value>FIXEDLEN</value>
                  </attribute>
                </choice>
                <attribute name="time-before-initial-heart-beat">
                  <data type="integer"/>
                </attribute>
                <attribute name="seconds-between-heart-beats">
                  <data type="integer"/>
                </attribute>
                <attribute name="verbosity-level">
                  <data type="integer"/>
                </attribute>
                <attribute name="output-directory">
                  <text/>
                </attribute>
              </element>
              <element name="meta-attribute">
                <attribute name="name">
                  <value>sim-qpn</value>
                </attribute>
                <attribute name="scenario">
                  <value>2</value>
                </attribute>
                <attribute name="number-of-runs">
                  <data type="integer"/>
                </attribute>
                <attribute name="ramp-up-length">
                  <data type="double"/>
                </attribute>
                <attribute name="total-run-length">
                  <data type="double"/>
                </attribute>
                <attribute name="time-before-initial-heart-beat">
                  <data type="integer"/>
                </attribute>
                <attribute name="seconds-between-heart-beats">
                  <data type="integer"/>
                </attribute>
                <attribute name="verbosity-level">
                  <data type="integer"/>
                </attribute>
                <attribute name="output-directory">
                  <text/>
                </attribute>
              </element>
              <element name="meta-attribute">
                <attribute name="name">
                  <value>sim-qpn</value>
                </attribute>
                <attribute name="scenario">
                  <value>3</value>
                </attribute>
                <attribute name="number-of-runs">
                  <data type="integer"/>
                </attribute>
                <attribute name="ramp-up-length">
                  <value>0</value>
                </attribute>
                <attribute name="total-run-length">
                  <data type="double"/>
                </attribute>
                <attribute name="time-before-initial-heart-beat">
                  <data type="integer"/>
                </attribute>
                <attribute name="seconds-between-heart-beats">
                  <data type="integer"/>
                </attribute>
                <attribute name="verbosity-level">
                  <data type="integer"/>
                </attribute>
                <attribute name="output-directory">
                  <text/>
                </attribute>
              </element>
            </choice>
          </zeroOrMore>
        </element>
      </optional>
    </element>
  </start>
</grammar>
